{% extends "baseof.html" %}

{% block content %}
    <div class="content">

        <section class="container centered " style="margin-top:200px;">
            <div class="about">
                <img src="/static/cumulatus.svg" width="150" height="150"/>
                <h1>Cumulatus</h1>
            </div>
        </section>
    </div>
    <div class="content">
        <section class="container centered">
             <p>The accumulation of you, by you, for you</p>
        </section>
    </div>
{% endblock %}