{% extends "baseof.html" %}

{% block content %}

    <div class="content">
  <section class="container page">
  <article>
    <header>
       <h1>Hi, {{ user.username }}</h1>
    </header>
    <hr>
      <h5>Age: {{ user.age }}</h5>
      <h5>Weight: {{ user.weight }}</h5>
      <h5>Height: {{ user.height }}</h5>
      <section class="container page">
      <div id=class="content">
          <img src="{{ url_for('main_plot') }}" alt="Image">
      </div>
      </section>
  </article>
  </section>
    </div>
{% endblock %}